<form action="<%= comments_url %>" method="post">
  <%= auth_token %>

  <input type="hidden" name="post_id" value="<%= @post.id %>">
  <input type="hidden" name="sub_id" value="<%= @sub.id %>">

  Commenting on Post: <%= @post.title %><br>
  Content:
  <textarea name="comment[content]" rows="8" cols="40"></textarea>
  <input type="submit" value="Submit Comment">
</form>
