<form action="<%= sub_url(@sub) %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <%= auth_token  %>
  Edit <%= @sub.title %>
  <br>
  Title: <input type="text" name="sub[title]", value = "<%= @sub.title %>">
  Description: <textarea name="sub[description]"> <%= @sub.description %></textarea>
  <br>
  <input type="submit" value="Submit">
</form>
